:root {
    --rojo1: #F21D2F;
    --rojo2: #D91A2A;
    --rojo3: #A61420;
    --rojo4: #730E16;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff2');
}

body{
    font-family: 'Poppins', sans-serif;
}

h1, h2,h3,h4,h5,h6{
    font-family: 'Monserrat', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: small;
    height: auto;
    padding: 10px;
}

/* navbar */

nav.navbar .collapse.navbar-collapse{
    justify-content: end;
}

.navbar-brand img{
    width: 10rem;
}

.nav-link.active{
    color: black;
    text-decoration: solid underline var(--rojo2) 2px;
}



/* Elementos */

.btn-contacto{
    background-color: var(--rojo2);
    color: white;
    border: 1px solid white;
    box-shadow: 0 0px 4px lightgray;
}

.btn-contacto:hover{
    background-color: white;
    border: 1px solid var(--rojo2);
    box-shadow: 0 0 4px var(--rojo1);
}



.nav-item .btn-contacto{    
    border: 1px solid black;
}


