:root {
  --rojo1: #f21d2f;
  --rojo2: #d91a2a;
  --rojo3: #a61420;
  --rojo4: #730e16;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Monserrat-Bold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "Monserrat-ExtraBold";
  src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("woff2");
}

body {
  font-family: "Poppins", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Monserrat", sans-serif;
}

html {
  font-size: 14px;
  min-height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* navbar */

nav.navbar .collapse.navbar-collapse {
  justify-content: end;
}

.bg-navbar {
  background-color: rgba(248, 249, 250, 0.88) !important;
  backdrop-filter: blur(10px);
}

.navbar-brand img {
  width: 10rem;
}

.nav-link.active {
  color: black;
  text-decoration: solid underline var(--rojo2) 2px;
}

/* Elementos */
h1,
h2 {
  text-transform: uppercase;
  font-family: "Monserrat-Bold", sans-serif;
}

h1 {
  color: var(--rojo2);
}

#hero h1 {
  color: white !important;
}

h2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

section {
  padding: 40px 0;
}

section#hero {
  height: 60vh;
}

.hero-img {
  background-image: linear-gradient(
      270deg,
      rgba(217, 26, 42, 0) 26%,
      rgba(217, 26, 42, 0.6) 38%,
      rgba(217, 26, 42, 1) 100%
    ),
    url("../../assets/img/camiones/camion6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 50vh; */
  width: 100%;
}

@media (max-width: 768px) {
  section#hero {
    height: 50vh;
  }

  .hero-img {
    background-image: linear-gradient(
        0deg,
        rgba(217, 26, 42, 0) 0%,
        rgba(217, 26, 42, 0.6) 20%,
        rgba(217, 26, 42, 1) 100%
      ),
      url("../../assets/img/camiones/camion6.jpg");
  }

  .hero-img .col-md-6:first-child .container {
    display: grid;
    justify-items: center;
  }
}

#hero div.row:first-child {
  height: 100%;
}

#hero .container {
  padding: 20px;
}

#hero .group-btn {
  display: flex;
  gap: 10px;
}

#hero p {
  color: rgb(246, 246, 246);
}

.btn-contacto {
  background: linear-gradient(to right, #e52d27, #f9464c);
  color: white;
  border: 1px solid rgb(248, 117, 117);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  height: 50px;
}

.btn-contacto:hover {
  background-color: var(--rojo1);
  box-shadow: 0px 8px 16px var(--rojo1);
  transform: translateY(-4px);
  color: white;
}
.nav-item .btn-contacto {
  height: 40px !important;
}
.nav-item .btn-contacto:hover {
  transform: translateY(-2px) !important;
  box-shadow: 0px 4px 16px var(--rojo3) !important;
}

section#hero {
  padding-top: 0;
}
section#hero .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

section#hero .col-md-6 {
  padding: 0;
}

/*Servicios*/
section#servicios {
  background: radial-gradient(
    circle,
    rgba(255, 46, 63, 1) 0%,
    rgb(193, 17, 32) 100%
  );
}

section#servicios h2 {
  color: white;
  margin-bottom: 3rem;
}

section#servicios .container div.col-md-4.col-sm-2{
  margin-bottom: 20px;
}

.service-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  border: 2px solid var(--rojo2);
}

.service-card:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.service-card .card-body {
  height: 300px !important;
  display: flex;
  align-items: end;
}

.text-card {
  color: white;
  text-transform: uppercase;
}


/* Instalaciones */

section#instalaciones h2 {
  text-align: center;
  color: var(--rojo3);
}

.carousel-img {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10px; /* Ajusta el valor según el espacio deseado */
}

.carousel-text {
  color: white;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.4) 83%,
    rgba(0, 0, 0, 0.7) 100%
  );
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: end;
}

.carousel-text p {
  margin-bottom: 0.5rem;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-prev::before,
.slick-next::before {
  color: black;
}

/*about*/

section#about {
  background-color: var(--rojo3);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section#about h4 {
  color: white;
  font-weight: bolder;
}

section#about p {
  color: white;
  font-size: small;
}

/* Ubicacion */
section#ubicacion {
  background-color: var(--rojo2);
  color: white;
}

section#ubicacion h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

section#ubicacion .col-md-6:first-child {
  display: flex;
  align-items: center;
  font-size: larger;
  border-left: 5px solid white;
}

@media (max-width: 768px) {
  section#ubicacion .col-md-6:first-child {
    border-left: 0;
    justify-content: center;
  }
  section#ubicacion ul li {
    padding: 0;
    text-align: center;
  }
}

section#ubicacion ul li {
  list-style-type: none;
}

/*Empresas*/

section#empresas h2 {
  text-align: center;
  color: var(--rojo3);
}

section#empresas .slick-dots {
  visibility: collapse;
}

section#empresas .slick-arrow {
  visibility: collapse;
}

.slider-container {
  scroll-snap-type: x mandatory;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
}

.slider-container img {
  scroll-snap-align: center;
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logo_items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

.logo_items img {
  height: 100px;
  margin-left: 50px;
}

/*Footer*/
section#footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(248, 249, 250);
  display: flex;
  margin-top: auto;
  width: 100%;
  height: 230px;
  padding: 10px;
}
.footer {
  background-color: rgba(248, 249, 250);
  font-weight: bolder;
}

.icono {
  padding-left: 1rem;
}

.logo-footer img {
  height: 6rem;
  display: flex;
  margin-right: 4rem;
  justify-content: center;
}

.footer p {
  font-size: smaller;
}
